*{
    margin: 0;
    padding: 0;
}
.task{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4))url(BTgrnjEoc.jpg);
    background-position: center;
    background-size:cover ;
    position:absolute;
}

.form-box{
    width:380px;
    height: 480px;
    position relative;
    margin: 8% auto;
    background:#fff;
    padding:5px;
}